<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <display-name>Work Map</display-name>
    <context-param>
        <param-name>releaseNumber</param-name>
        <param-value>@VERSION@</param-value>
    </context-param>
    <context-param>
        <param-name>releaseDate</param-name>
        <param-value>@RELEASE_DATE@</param-value>
    </context-param>
    <context-param>
        <param-name>homeURL</param-name>
        <param-value>https://github.com/JeffersonLab/workmap</param-value>
    </context-param>
    <context-param>
        <param-name>atlisURL</param-name>
        <param-value>https://tasklists.jlab.org</param-value>
    </context-param>
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <session-config>
        <session-timeout>480</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <welcome-file-list>
        <welcome-file>view-work-map</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error</location>
    </error-page>
    <security-constraint>
        <display-name>Enforce Authenticated on SSO Redirect Page</display-name>
        <web-resource-collection>
            <web-resource-name>SSO Page</web-resource-name>
            <url-pattern>/sso</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>**</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Enforce Authenticated Work Map Manager over SSL on edit</display-name>
        <web-resource-collection>
            <web-resource-name>Secure Resources</web-resource-name>
            <description/>
            <url-pattern>/edit-work-map</url-pattern>
            <url-pattern>/edit-work-map/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>workmap-admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>OIDC</auth-method>
    </login-config>
    <security-role>
        <role-name>workmap-admin</role-name>
    </security-role>
    <distributable/>
</web-app>
